{{> home.hbs}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test page</title>
    <!--
    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <script type="text/javascript" src="/public/handlebars.min-v4.7.6.js"></script>
    <script src="https://s3.amazonaws.com/builds.handlebarsjs.com/handlebars.min-v4.7.6.js"></script>
    -->

    <style>
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.invisible{
    opacity: 0;
    display: none;
}
</style>


</head>
<body>

{{#if error}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>ERROR</strong> {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/if}}


<main role="main" class="container" >

    <div class="form-group">
        <div class="row">
            <select id="selectCategorias" class="custom-select" name="categoria-elegida" style="max-width: 300px">
                <option selected value="_">Seleccione una categoria</option>
                {{#each criteriosDeCategorizacion}}
                    {{#each this.categorias}}
                        <option value="{{../nombre}}_{{nombre}}"> {{../nombre}} - {{nombre}} </option>
                    {{/each}}
                {{/each}}
            </select>
            <div class="mx-3">
                <button type="button" class="btn btn-primary px-3 rounded" onclick="obtenerCategoria()">Filtrar</button>
            </div>
            <p class="font-italic my-auto">{{infoFiltroActual}}</p>
        </div>
    </div>

    <div id="accordion">

        {{#each egresos}}
            <div class="card">
                <div class="card-header" id="headingEgresos{{identificador}}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-target="#collapseEgreso{{identificador}}" data-toggle="collapse" aria-expanded="false" aria-controls="collapseEgreso{{identificador}}">
                            Egreso {{ identificador}}
                        </button>
                    </h5>
                </div>

                <div id="collapseEgreso{{identificador}}" class="collapse" aria-labelledby="headingEgreso{{identificador}}" data-parent="#accordion">
                    <div class="container">
                        <div class="row">
                            <div class="card-body col-10">
                                Items:
                                <ul>
                                    {{#each this.items}}
                                        <li>{{ descripcion }} - ${{valor}}</li>
                                    {{/each}}
                                </ul>
                                Entidad origen:
                                <ul>
                                    <li>{{ this.entidadOrigen.nombre }} </li>
                                </ul>
                                Entidad destino:
                                <ul>
                                    <li>{{ this.entidadDestino.nombre }} </li>
                                </ul>
                                Presupuestos necesarios:
                                <ul>
                                    <li>{{ this.presupuestosNecesarios }} </li>
                                 </ul>
                                Medio de pago:
                                <ul>
                                   <li>{{medioDePago.nombre}}</li>
                                </ul>

                            </div>
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <form id="eliminarEgreso" action="/egresos/{{identificador}}" method="DELETE">
                                    <button style="margin-left: 10px" type="submit" class="btn btn-outline-danger" onclick="confirmarEliminacion()">Eliminar </button>
                                </form>
                                &nbsp
                                &nbsp
                                <form id="modificarEgreso" action="/egreso/{{identificador}}" method="PUT">
                                    <button type="submit" class="btn btn-outline-primary" href="/egreso/:id">Modificar </button>
                                </form>
                                &nbsp
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAgregarPresupuesto" onclick="obtenerEgreso('{{identificador}}')">Agregar presupuesto </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
        <div class="mx-3 my-4 text-center" >
            <form action="/egreso" method="GET">
                <button type="submit" class="btn btn-dark float-sm-center">Nuevo egreso</button>
            </form>
        </div>


    <div class="mt-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                {{#if pagina_anterior}}
                    <li class="page-item">
                {{else}}
                    <li class="page-item disabled">
                {{/if}}
                    <a class="page-link" href="/egresos?pagina={{pagina_anterior}}{{filtroPaginado}}" tabindex="-1">Anterior</a>
                </li>

                {{#each cantidad_paginas}}
                    <li class="page-item"><a class="page-link" href="/egresos?pagina={{this}}{{filtroPaginado}}">{{this}}</a></li>
                {{/each}}

                {{#if pagina_siguiente}}
                    <li class="page-item">
                {{else}}
                    <li class="page-item disabled">
                {{/if}}
                    <a class="page-link" href="/egresos?pagina={{pagina_siguiente}}{{filtroPaginado}}">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>

</main><!-- /.container -->

<!-- Modal -->
<div class="modal fade" id="modalAgregarPresupuesto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarPresupuestoTitulo">Modal title</h5>
            </div>
            <div class="modal-body">
                <form id="formAgregarPresupuesto" method="post" action="/presupuesto" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="archivojson" class="form-control-file" id="exampleFormControlFile1">
                        <input type="text" name="identificador_egreso" class="d-none" id="inputIdentificadorEgreso">
                    </div>
                </form>
                <p id="pIdLicitacion" class="font-italic"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button form="formAgregarPresupuesto" type="submit" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

</body>

<script type="text/javascript">
    function obtenerEgreso(identificadorEgreso) {
        $('#modalAgregarPresupuestoTitulo').text("Agregar presupuesto al egreso " + identificadorEgreso);
        $('#inputIdentificadorEgreso').val(identificadorEgreso);

        $.get("/licitacion?idEgreso=" + identificadorEgreso, function (data) {
            if(data.length > 0)
                $("#pIdLicitacion").text("Los presupuestos se agregaran a la licitacion " + data);
            }
        );
    }

    function obtenerCategoria(){
        window.location.href = "/egresos?filtro=" + $("#selectCategorias").val()
    }
</script>

</html>