<!DOCTYPE html>
<html>

<head>
    <title>GesOc</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/egresos.css" />
</head>

<body style="padding-top: 5rem">
    <ul class="list-group">
        {{#each egresos}}
            <li class="list-group align-items-center">
               <div class="container">
                    <div class="row justify-content-md-center">
                        <a class="list-group-item list-group-item-danger col-6" data-toggle="collapse{{@index}}"
                            data-target="collapse{{@index}}" href="#collapse{{@index}}" aria-expanded="false" aria-controls="collapse{{@index}}" role="row">Egreso {{@index}}</a>
                        <div class="offset-2 col-4">
                            <div class="row">
                                <form id="eliminarEgreso" action="/egresos/{{identificador}}" method="DELETE">
                                    <button style="margin-left: 10px" type="submit" class="btn btn-outline-danger" onclick="confirmarEliminacion()">Eliminar </button>
                                </form>
                                &nbsp
                                <form id="modificarEgreso" action="/egresos/{{identificador}}/" method="PUT">
                                    <button type="submit" class="btn btn-outline-primary" href="/egresos/:id">Modificar </button>
                                </form>
                                &nbsp
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAgregarPresupuesto" onclick="obtenerEgreso('{{identificador}}')">Agregar presupuesto </button>
                            </div>
                        </div>
                    <div class="accordion" id="accordion{{@index}}">
                        <div class="collapse{{@index}}" id="collapse{{@index}}" data-parent="#accordion{{@index}}">
                            <div class="card-body">
                                <h6>
                                    <b>Items: </b>
                                </h6>
                                <ul class="list-group">
                                    {{#each items}}
                                        <li>{{descripcion}}</li>
                                    {{/each}}
                                </ul>
                                <h6>
                                    <b>Medio de pago: </b>
                                </h6>
                                <i>{{medioDePago}}</i>
                                <h6>
                                    <b>Documento comercial: </b>
                                </h6>
                                <i>{{documento.}}</i>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </li>
        {{/each}}
    </ul>
    <div class="mx-3 my-4 text-center" >
        <form action="/egreso" method="GET">
            <button type="submit" class="btn btn-dark float-sm-center">Nuevo egreso</button>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalAgregarPresupuesto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAgregarPresupuestoTitulo">Modal title</h5>
                </div>
                <div class="modal-body">
                    <form id="formAgregarPresupuesto" method="post" action="/presupuesto" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" name="archivojson" class="form-control-file" id="exampleFormControlFile1">
                            <input type="text" name="identificador_egreso" class="d-none" id="inputIdentificadorEgreso">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button form="formAgregarPresupuesto" type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

</body>

<script type="text/javascript">
    function obtenerEgreso(identificadorEgreso) {
        $('#modalAgregarPresupuestoTitulo').text("Agregar presupuesto al egreso " + identificadorEgreso);
        $('#inputIdentificadorEgreso').val(identificadorEgreso);
    }
</script>

<!--{{#each egresos as | egreso |}}
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <h6>
            <b>Items: </b>
        </h6>
        <ul class="list-group">
            {{#each egreso.items}}
                <li>{{descripcion}}</li>
            {{/each}}
        </ul>
        <h6>
            <b>Medio de pago: </b>
        </h6>
        <i>{{egreso.medioDePago}}</i>
        <h6>
            <b>Documento comercial: </b>
        </h6>
        <i>{{egreso.documentoComercial}}</i>
    </div>
</div>
{{/each}}-->

</html>

{{> home.hbs}}


