{{> home.hbs}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test page</title>
    <!--
    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <script type="text/javascript" src="/public/handlebars.min-v4.7.6.js"></script>
    <script src="https://s3.amazonaws.com/builds.handlebarsjs.com/handlebars.min-v4.7.6.js"></script>
    -->

    <style>
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.invisible{
    opacity: 0;
    display: none;
}
</style>


</head>
<body>


<main role="main" class="container" >

    <div class="form-group">
        <div class="row">
            <select id="selectCategorias" class="custom-select" name="categoria-elegida" style="max-width: 300px">
                <option selected value="_">Seleccione una categoria</option>
                {{#each criteriosDeCategorizacion}}
                    {{#each this.categorias}}
                        <option value="{{../nombre}}_{{nombre}}"> {{../nombre}} - {{nombre}} </option>
                    {{/each}}
                {{/each}}
            </select>
            <div class="mx-3">
                <button type="button" class="btn btn-primary px-3 rounded" onclick="obtenerCategoria()">Filtrar</button>
            </div>
            <p class="font-italic my-auto">{{infoFiltroActual}}</p>
        </div>
    </div>

    <div id="accordion">

        {{#each presupuestos}}
            <div class="card">
                <div class="card-header" id="headingPresupuesto{{identificador}}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-target="#collapsePresupuesto{{identificador}}" data-toggle="collapse" aria-expanded="false" aria-controls="collapsePresupuesto{{identificador}}">
                            Presupuesto {{ identificador}}
                        </button>
                    </h5>
                </div>

                <div id="collapsePresupuesto{{identificador}}" class="collapse" aria-labelledby="headingPresupuesto{{identificador}}" data-parent="#accordion">
                    <div class="container">
                        <div class="row">

                            <div class="card-body col-10">
                                Items:
                                <ul>
                                    {{#each this.items}}
                                        <li>{{ descripcion }} - ${{valor}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="col my-auto">
                               <form action="/categorizar" method="GET">
                                    <input class="invisible" name="id-entidad-categorizable" value={{identificador}} >
                                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Categorizar</button>
                               </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

    <div class="mt-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                {{#if pagina_anterior}}
                    <li class="page-item">
                {{else}}
                    <li class="page-item disabled">
                {{/if}}
                    <a class="page-link" href="/presupuestos?pagina={{pagina_anterior}}{{filtroPaginado}}" tabindex="-1">Anterior</a>
                </li>

                {{#each cantidad_paginas}}
                    <li class="page-item"><a class="page-link" href="/presupuestos?pagina={{this}}{{filtroPaginado}}">{{this}}</a></li>
                {{/each}}

                {{#if pagina_siguiente}}
                    <li class="page-item">
                {{else}}
                    <li class="page-item disabled">
                {{/if}}
                    <a class="page-link" href="/presupuestos?pagina={{pagina_siguiente}}{{filtroPaginado}}">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>

</main><!-- /.container -->

<script type="text/javascript">
    /*
    Handlebars.registerHelper('times', function(n, block) {
        var accum = '';
        for(var i = 0; i < n; ++i)
            accum += block.fn(i);
        return accum;
    });
    */

    function obtenerCategoria(){
        window.location.href = "/presupuestos?filtro=" + $("#selectCategorias").val()
    }

</script>

</body>
</html>