{{> home.hbs}}

<!DOCTYPE html>
<html>

<head>
    <title>GesOc</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/vinculaciones.css" />
</head>

<body style="height: 90%">
    <form method="POST" action="/vinculaciones">
        <div class="tablas-vinculacion">
            <table>
                <thead>
                <tr>
                    <th colspan="2">Seleccionar ingreso:</th>
                </tr>
                </thead>
                <tbody>
                    {{#each ingresos}}
                        <tr>
                            <td><input type="checkbox" id={{identificador}} name={{identificador}}></td>
                            <td><label for="ingreso">{{identificador}}</label></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

            <table>
                <thead>
                <tr>
                    <th colspan="2">Seleccionar egreso:</th>
                </tr>
                </thead>
                <tbody>
                    {{#each egresos}}
                    <tr>
                        <td><input type="checkbox" id={{identificador}} name={{identificador}}></td>
                        <td><label for="egreso">{{identificador}}</label></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <label for="seleccion-criterios">Elige tu criterio:</label>

        <select name="criterios" id="seleccion-criterios">
            <option value="">--Criterio--</option>
            <option value="Fecha_Egreso">Fecha Egreso</option>
            <option value="Valor_Ingreso">Valor Ingreso</option>
            <option value="Valor_Egreso">Valor Egreso</option>
        </select>
        <label for="rango-dias">Rango de dias</label>
        <input type="number" name="rango-dias" value={{identificador}}>

        <div>
            <button class="btn btn-primary px-3 rounded" type="submit">Vincular</button>
        </div>
    </form>

</body>

</html>