{{> home.hbs}}

<!DOCTYPE html>
<html>

<head>
    <title>GesOc</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/vinculaciones.css" />
</head>

<body style="height: 90%">

    <form method="POST" action="/vinculaciones">
        <div class="tablas-vinculacion">
            <table>
                <thead>
                <tr>
                    <th colspan="2">Seleccionar ingreso:</th>
                </tr>
                </thead>
                <tbody>
                    {{#each ingresos}}
                        <tr>
                            <td>
                                <label for="ingresos"></label><input type="checkbox" id="ingresos" name="{{identificador}}" value="{{identificador}}" onclick="updateIngresos(this.value)">
                            </td>
                            <td>
                                <label for="ingreso" id="ingreso">{{identificador}}</label>
                            </td>

                        </tr>
                    {{/each}}
                </tbody>
            </table>

            <table>
                <thead>
                <tr>
                    <th colspan="2">Seleccionar egreso:</th>
                </tr>
                </thead>
                <tbody>
                    {{#each egresos}}
                    <tr>
                        <td><label for="egresos"></label><input type="checkbox" id="egresos" name="{{identificador}}" value="{{identificador}}" onclick="updateEgresos(this.value)"></td>
                        <td><label for="egreso" id="egreso"> {{identificador}}  </label></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <label for="seleccion-criterios">Elige tu criterio:</label>

            <select name="criterio" id="seleccion-criterios">
                <option value="Fecha_Egreso">Fecha Egreso</option>
                <option value="Valor_Ingreso">Valor Ingreso</option>
                <option value="Valor_Egreso">Valor Egreso</option>
            </select>

            <label for="rangoDias">Rango de dias</label>
            <input type="number" name="rangoDias" min="0" id="rangoDias" value={{number}}>
            <div class="d-none">
                <input name="ingresosId" id="ingresosId">
            </div>
            <div class="d-none">
                <input name="egresosId" id="egresosId">
            </div>
            <div>
                <button class="btn btn-primary px-3 rounded" type="submit">Vincular</button>
            </div>
        </div>

    </form>

    <script type="text/javascript">
        var ingresosId = [];
        var egresosId = [];
        function updateIngresos(identificador) {
            if (ingresosId.includes(identificador)) {
                for (var i =0; i&lt;ingresosId.length; i++) {
                    if (ingresosId[i] === identificador) {
                        ingresosId.splice(i, 1);
                        break;
                    }
                }
            } else {
                ingresosId.push(identificador);
            }
            $("#ingresosId").val(ingresosId);

        }

        function updateEgresos(identificador) {
            if (egresosId.includes(identificador)) {
                for (var i =0; i&lt;egresosId.length; i++) {
                    if (egresosId[i] === identificador) {
                        egresosId.splice(i, 1);
                        break;
                    }
                }
            } else {
                egresosId.push(identificador);
            }
            $("#egresosId").val(egresosId);

        }
    </script>
</body>
</html>